################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/DungeonGame.Core/Leaderboard/Leaderboard.csv
