<h1 class="title">{{title}}</h1>
@if(game && game.state.running){
    <div>Floor: {{game.state.floor}} Kills: {{game.state.kills}} Steps {{game.state.steps}}</div>
    <div>Hp: {{game.board.player.hp}} Damage: {{game.board.player.damage}} Crit Chance: {{game.board.player.critChance}}</div>
    @if(game.state.fightMode == -1 && floor){
        <app-board class="board" [entities]="game.board"  [floor]="floor" (update)="nextFloorCheck($event)"></app-board>
    }
    @else {
        <app-fight class = "fight" [monster]="monsterInFight()" [player]="game.board.player" [attacks]="game.attacks" (update)="game = $event"></app-fight>
    }
}
@else if(game){
    <app-death class="death" [stats]="game.state" (restart)="restart()"></app-death>
}
@if(failed){
    <div class="no-data">
        <div>Database connection failed!</div>
        <button class="try-again" (click)="retry()">Try again!</button>
    </div>
}