@if(stats){
    <div class="tomb-container">
        <img class="tomb" [src]="getTombImageUrl()"/>
        <div class="tomb-text"><b>The bold fighter walked {{stats.steps}} steps through the dark and cruel dungeon and passed {{stats.floor}} floors. He managed to beat {{stats.kills}} monsters, but they got him in the end.</b></div>
    </div>
    <h2>Leaderboard</h2>
    <table>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Floor</td>
            <td>Kills</td>
        </tr>
        @for (entry of leaderboard; track $index) {
            <tr>
                <td>{{$index + 1}}</td>
                <td>{{entry.name}}</td>
                <td>{{entry.floor}}</td>
                <td>{{entry.kills}}</td>
            </tr>
        }
    </table>

    @if(!stats.recordSubmitted){
        <label>Name</label>
        <input #input (change)="name = input.value" autofocus/>
        <button class="menu" [style.background-color]="saveSelected?'red':'darkgrey'" (click)="submit()" (mouseenter)="saveSelected=true">Submit to leaderboard</button>
    }
    <button class="menu" [style.background-color]="saveSelected?'darkgrey':'red'" (click)="restartGame()" (mouseenter)="saveSelected=false">Restart</button>

}
