.tomb-container{
    height : 530px;
}

.tomb{
    position: relative;
}

.tomb-text{
    position: relative; 
    width: 320px;
    bottom: 240px;
    left: 100px;
    font-size: 25px;
}

.menu{
    padding: 10px;
    align-self: center;
    width: fit-content;
    border: none;
    border-radius: 5px;
    margin: 5px;
}