.menu{
    padding: 10px;
    align-self: center;
    width: fit-content;
    border:none;
    border-radius: 5px;
    margin: 5px;
}

.fightImages{
    padding: 20px;
    display:flex;
    align-items: end;
}

.monsterHp{
    text-align: right;
}